Repository Team-5-Cyan-Camel/Flatmates, pull requests merged in 2021-04, with the labels that each got.

#3 Initial backend setup
  backend/.gitignore
  backend/app.js
  backend/bin/www
  backend/package-lock.json
  backend/package.json
  backend/public/stylesheets/style.css
  backend/routes/index.js
  backend/routes/users.js
  backend/views/error.jade
  backend/views/index.jade
  backend/views/layout.jade
Labels: backend, enhancement

#5 Create Front skeleton
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/Components/SignUp.js
  frontend/src/Components/SignUp.module.css
Labels: frontend

#10 [INIT] Initialize Backend Jest and CI
  .github/workflows/node.js.yml
  backend/app.js
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/routes/index.js
  backend/test/index.test.js
  backend/views/error.jade
  backend/views/index.jade
  backend/views/layout.jade
Labels: backend, testing

#12 Page Linking
  frontend/src/App.js
  frontend/src/Components/Account/Login.js
  frontend/src/Components/Account/SignUp.js
  frontend/src/Components/Account/SignUp.module.css
  frontend/src/Components/Code/GenerateRoom.js
  frontend/src/Components/Code/JoinRoom.js
  package-lock.json
  package.json
Labels: frontend

#15 Initializing lobby content
  frontend/src/App.js
  frontend/src/Components/Account/Settings.js
  frontend/src/Components/Account/Settings.module.css
  frontend/src/Components/Lobby/NavBar.js
Labels: frontend
