Repository Team-5-Cyan-Camel/Flatmates, pull requests merged in 2021-05, with the labels that each got.

#16 Frontend styling
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/Components/Account/Login.js
  frontend/src/Components/Account/Settings.module.css
  frontend/src/Components/Account/SignUp.js
  frontend/src/Components/Account/SignUp.module.css
  frontend/src/Components/Code/GenerateRoom.js
  frontend/src/Components/Code/JoinRoom.js
  frontend/src/Components/Lobby/NavBar.css
  frontend/src/Components/Lobby/NavBar.js
  package-lock.json
Labels: frontend

#22 [FEAT] Initial backend implementation
  .github/workflows/node.js.yml
  backend/.gitignore
  backend/app.js
  backend/bin/www
  backend/example.env
  backend/mongo/Expense.js
  backend/mongo/Reminder.js
  backend/mongo/Room.js
  backend/mongo/Roster.js
  backend/mongo/Task.js
  backend/mongo/User.js
  backend/package-lock.json
  backend/package.json
  backend/routes/index.js
  backend/routes/room.js
  backend/routes/roster.js
  backend/routes/user.js
  backend/routes/users.js
  backend/sockets/ConnectionEvents.js
  backend/test/index.test.js
  backend/test/room.test.js
  backend/test/roster.socket.test.js
  backend/test/roster.test.js
  backend/test/user.test.js
Labels: backend

#25 [FEAT] Added user changes
  backend/mongo/User.js
  backend/routes/user.js
  backend/test/user.test.js
Labels: backend, enhancement

#29 [FEAT] GET user endpoint
  backend/routes/room.js
  backend/routes/user.js
Labels: backend, enhancement

#33 enforced mongoose Roster name is unique
  backend/mongo/Roster.js
Labels: backend

#31 [REFA] Refactored getUserFromCookie into a util module
  backend/routes/room.js
  backend/routes/roster.js
  backend/routes/user.js
  backend/routes/utils/getUserFromCookie.js
Labels: backend, refactor

#51 [FEAT] Message board frontend
  backend/sockets/ConnectionEvents.js
  frontend/src/App.js
  frontend/src/Components/Lobby/NavBar.js
  frontend/src/Components/MessageBoard/MessageBoard.js
Labels: backend, enhancement, frontend

#75 [DOCU] Edited readme to include information on how to use backend in heroku
  README.md
Labels: backend, documentation

#77 [FEAT] Frontend test ci
  .github/workflows/react.yml
  frontend/package-lock.json
  frontend/src/Test/__snapshots__/RoomComponents.test.js.snap
  frontend/src/Test/__snapshots__/RosterComponents.test.js.snap
Labels: frontend, testing
